body {
  background-image: url("public/e6873554745d0918f8086706abfc.jpeg");
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}

#clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#clock {
  font-family: cursive;
  font-size: 6.5rem;
  font-weight: bold;
  text-align: center;
  backdrop-filter: blur(69);
}

div {
  color: white;
}
